body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.appClass {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #09151a;
  color: white;
}

.card {
  background-color: #132226;
  box-shadow: 3px 3px rgba(19, 34, 38, 0.25);
  position: relative;
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.mainContentBox {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem 2rem;
  margin: 1rem 1rem 0 1rem;
}

.mainTitle {
  margin: 0;
  text-align: center;
}

.movieDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-over {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  max-height: 100%;
}

.card:hover .movie-over {
  transform: translateY(0%);
}

.movieTitle {
  margin: 0;
}

.movieRate {
  border: 1px solid black;
  padding: 0.2rem;
  margin-right: 5px;
  width: 10%;
  text-align: center;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 60%;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  background-color: #21363c;
  border: 1px white solid;
  color: white;
}

.searchBar button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #21363c;
  color: white;
  border: 1px solid white;
}
