body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.appClass {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #f2f2f2;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.header {
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
}

.logo {
  margin-left: 1rem;
}

.mainContentBox {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem 2rem;
  margin: 1rem 1rem 0 1rem;
}

.mainTitle {
  margin: 0;
  text-align: center;
}

.movieDetails {
  text-align: center;
}

.movieTitle {
  margin: 0;
}

.movieRate {
  border: 1px solid black;
  margin: 0;
}

.searchBar {
  text-align: end;
  margin-right: 1rem;
}

.searchInput {
}
